@model AlphaS_Web.Models.Utils.ExperimentPresetViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Создание пресета эксперимента</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PresetName" class="control-label"></label>
                <input asp-for="PresetName" class="form-control" />
                <span asp-validation-for="PresetName" class="text-danger"></span>
            </div>
            <label asp-for="Modules" class="control-label"></label>
            <div id="ModulesContainer">
                @Html.EditorFor(model => model.Modules)
            </div>

            @Html.DropDownList("ModuleName", (IEnumerable<SelectListItem>)ViewBag.Modules, "Выберите модуль", htmlAttributes: new { @class = "form-control", @id = "ModuleName" })

            <div class="form-group">
                <div class="col-md-4">
                    <input class="btn btn-default" type="button" id="btnAddModule" value="Добавить модуль" />
                </div>
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $("#btnAddModule").on('click', function () {
            console.log("Adding module");
            var ddl = document.getElementById("ModuleName");
            var SelVal = ddl.value;
            console.log("SelVal = " + SelVal);
            var neaded_url = "/ExperimentPresets/AddModule/" + SelVal;
            console.log("PartitialVeiw url : " + neaded_url);
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: "POST",
                url: neaded_url,
                success: function (partialView) {
                    $('#ModulesContainer').html(partialView);
                }
            });
        });
    </script>


}
