
<div class="text-left">
    <h5 class="display-4">Как добавить модуль</h5>
    <p>
        Для того, чтобы модуль мог корректно работать с системой, нужно удовлетворение следующих условий:
        <ol>
            <li>Создание описания модуля в веб-службе системы.</li>
            <li>Помещение ярлыка исполняемого файла в папку C:\AlphaS\Modules.</li>
            <li>
                Обеспечение поддержки следующего протокола передачи данных:
                <ul>
                    <li>
                        Входные переменные передаются в модуль как именованные переменные при запуске .exe файлов. Пример консольной команды для windows cmd, имитирующей запуск системой модуля с названием TestModule, и входными переменными first и second со значениями 2 и 5: “TestModule.exe.lnk first=2 second=5”
                        Кроме входных переменных, обозначенных в модуле, в каждый модуль будут передаваться id испытуемых, обозначенные переменными “first_part” и “second_part”. Если информации об id испытуемых в системе нет, то тогда значения данных переменных будут -1 и -2 соответственно.
                    </li>
                    <li>
                        Выходные данные модуль должен отдать, используя систему именованных каналов(named pipes). Название используемого системой канала: “AlphaS”. Первым сообщением должно идти название модуля. Последующими сообщениями должны идти пары переменная=значение. Последним сообщением от модуля должно идти сообщение “End”
                    </li>
                </ul>

            </li>
        </ol>
        Пример модуля, в котором выполняются требования из пункта 3, выложен в открытый доступ по ссылке <a href="https://github.com/YpbIrb/AlphaS_TestModule">https://github.com/YpbIrb/AlphaS_TestModule</a>
    </p>
</div>
