@model AlphaS_Web.Models.Utils.ModuleInExperimentViewModel

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="ModuleOrder" class="control-label"></label>
            <input asp-for="ModuleOrder" class="form-control" readonly/>
            <span asp-validation-for="ModuleOrder" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ModuleName" class="control-label"></label>
            <input asp-for="ModuleName" class="form-control" readonly/>
            <span asp-validation-for="ModuleName" class="text-danger"></span>
        </div>
     
        @Html.EditorFor(model => model.InputValues)
    </div>
</div>