@model AlphaS_Web.Models.ParticipantInExperiment

<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParticipantId" class="control-label"></label>
                <input asp-for="ParticipantId" class="form-control" />
                <span asp-validation-for="ParticipantId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Intoxication" /> @Html.DisplayNameFor(model => model.Intoxication)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HeadInjury" /> @Html.DisplayNameFor(model => model.HeadInjury)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Periods" /> @Html.DisplayNameFor(model => model.Periods)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInfo" class="control-label"></label>
                <input asp-for="AdditionalInfo" class="form-control" />
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
            </div>

    </div>
</div>
