@model AlphaS_Web.Models.ModuleInExperiment



<div class="form-group">
    Input Variables:
</div>
@foreach (var item in Model.InputValues)
{
    @Html.EditorFor(model => item)
}


@{
    /*


    @foreach (var item in ViewBag.InputVariables)
    {
    <span> @item </span>
    }


    <div class="form-group">
    @foreach (string e in ViewBag.InputVariables)
    {

    }
    </div>


        */


}