@model AlphaS_Web.Models.ModuleInExperiment
@Html.EditorFor(model => model.InputValues)


@{
    /*


    <div class="form-group">
    Input Variables:
    </div>

    <div class="form-group">
    @foreach(string e in ViewBag.InputVariables)
    {

    }


    </div>



        */


}